<h1>Editting Book</h1>
<%= form_for(@book, url: book_path(@book.id)) do |f| %>

    <div>Title</div>
    <%= f.text_field :title %>

    <div>Body</div>
    <%= f.text_area :body %>

    <%= f.submit 'Update Book' %>

<% end %>

<%= link_to 'Show' , book_path(@book.id) %> | <%= link_to 'Back' , books_path %>